form{
    margin: auto;
    width: min(600px , 100%);
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 70px;
}

form input[type="file"]{
    width: calc(100% - 30px);
    padding: 15px;
    background: #fff;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 12px #c2c2c255;
}

form input{
    width:  calc(100% - 30px);
    padding: 15px;
    background: #fff;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 12px #c2c2c255;
}


form input[type="submit"]{
    width: 100%;
    padding: 18px;
    background: #15427e;
    margin-bottom: 15px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}